
    h1{
        position: absolute;
        margin-bottom: 30px;
        align-items: center;
        font-size: 90px;
        font-family: 'Courier New', Courier, monospace;
    }
   
     button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

body {
  color: #080808;
  background: rgba(0, 150, 250, 0.91);
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

button {
  background: none;
  border: 2px solid;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-weight: 400; }

    
    @media screen and (max-width: 600px) {
        header h1 {
          font-size: 35px;
        }
      }
      @media screen and (min-width: 390px) {
        .navDemo {
          max-width: 600px;
        }
      }
      @media screen and (max-width: 600px) {
        .w3-content h1{
          font-size: 40px;
        }
      }
      @media screen and (max-width: 600px) {
        .w3-content p{
          font-size: 15px;
          width: 90%;
        }
      }
      @media screen and (max-width: 600px) {
         h1 {
          font-size: 65px;
        }
      }